html, body {
    margin: 0;
    padding: 0;
}
body {
    margin: 0;
    padding: 0;
    background-color: white; 
    font: 62.5% Verdana, sans-serif; 
}
a { outline: none; }
p,ul,li,td { list-style: none inside; font-size: 1.2em;}
img { border: none; }
/* END RESET & BASIC PAGE */

/* TEXT */
h1 {
    font-size: 200%; 
    color: navy; 
    text-align: center;
}
h2 {
    font-size: 150%; 
    color: red; 
    padding-left: 15px;
}